body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	margin: 0;
	background-color: #f8f8f8;
}

a {
	text-decoration: none;
	color: #337ab7;
}

li {
	list-style-type: none;
}

.nav {
	background-color: #f8f8f8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #e7e7e7;
	width: 100%;
}

.brand {
	font-weight: bold;
	font: 30px/69px bold sans-serif;
	float: left;
}

.nav-right {
	float: right;
}

.nav-right ul {
	line-height: 69px;
	margin: 0;
}

.nav-right li {
	display: inline;
	padding: 0 10px;
}

.title {
	background-color: #f8f8f8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #e7e7e7;
	color: #fff;
	font-weight: bold;
	font: 30px/69px bold sans-serif;
	height: 69px;
	position: fixed;
	width: 100%;
	top: 0;
}

.brand {
	color: #777;
}

.container {
	margin: 0 20px;
}

.center {
	text-align: center;
}

.form label {
	float: left;
	width: 20%;
}

.form p {
	clear: left;
}

.form button {
	margin-left: 20%;
}

.sidebar ul {
	list-style-type: none;
	margin: 0 0 0 30px;
	padding: 0;
}

.sidebar li {
	line-height: 35px;
}

.sidebar {
	top: 70px;
	position: fixed;
	bottom: 0;
	width: 20%;
	background-color: #f8f8f8;
	border-right: 1px solid #e7e7e7;
	color: #fff;
}

.main {
	margin: 70px 0 0 20%;
	/*padding: 0 35px;*/
	padding: 10px 35px 0 35px;
	background-color: #fff;
	min-height: 700px;
}

.form-hidden {
	display: inline;
}

.form-hidden button {
	border: none;
	background-color: transparent;
}

.form-search {
	border: 1px solid #ddd;
	border-radius: 3px;
	display: table;
	position: relative;
	margin: 10px 0;
}

.form-search input {
	border: none;
	display: table-cell;
	position: relative;
	text-indent: 10px;
}

.form-search .btn {
	display: table-cell;
	position: relative;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.page-header {
	padding-bottom: 9px;
	margin: 10px 0;
	border-bottom: 1px solid #eee;
	font: 30px/50px bold sans-serif;
}

.page {
	background-color: #fff;
}

.item {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin: 5px;
	padding: 10px;
}

.item img {
	width: 100%;
	max-height: 400px;
}

.item .info {
	height: 70px;
	font-weight: bold;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table-bordered td, .table-bordered {
	border: 1px solid #ddd;
	padding: 4px;
}

.col-3, .col-4, .col-5, .col-6, .col-7, .col-9 {
	float: left;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.3333333333%;
}

.col-5 {
	width: 41.6666666667%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.3333333333%;
}

.col-9 {
	width: 75%;
}

.clear {
	clear: both;
}

.error {
	color: red;
	font-weight: bold;
}

.panel-login {
	width: 40%;
	margin: 5% auto 0;
	border: 1px solid #ddd;
	background-color: #fff;
	border-radius: 4px;
}

.panel-heading {
	padding: 10px 15px;
	color: #333;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
}

.panel-title {
	margin: 0;
	font-size: 16px;
}

.panel-body {
	padding: 15px;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	box-sizing: border-box;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-lg {
	width: 100%;
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover, .btn:focus {
	text-decoration: none;
}

.btn:focus, .btn.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
	opacity: 0.65;
}

.btn:not (:disabled ):not (.disabled ) {
	cursor: pointer;
}

a.btn.disabled, fieldset:disabled a.btn {
	pointer-events: none;
}

.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:not (:disabled ):not (.disabled ):active, .btn-primary:not
	(:disabled ):not (.disabled ).active, .show>.btn-primary.dropdown-toggle
	{
	color: #fff;
	background-color: #0062cc;
	border-color: #005cbf;
}

.btn-primary:not (:disabled ):not (.disabled ):active:focus,
	.btn-primary:not (:disabled ):not (.disabled ).active:focus, .show>.btn-primary.dropdown-toggle:focus
	{
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-secondary:hover {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
}

.btn-secondary:focus, .btn-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn-secondary:not (:disabled ):not (.disabled ):active, .btn-secondary:not
	(:disabled ):not (.disabled ).active, .show>.btn-secondary.dropdown-toggle
	{
	color: #fff;
	background-color: #545b62;
	border-color: #4e555b;
}

.btn-secondary:not (:disabled ):not (.disabled ):active:focus,
	.btn-secondary:not (:disabled ):not (.disabled ).active:focus, .show>.btn-secondary.dropdown-toggle:focus
	{
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-success {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-success:hover {
	color: #fff;
	background-color: #218838;
	border-color: #1e7e34;
}

.btn-success:focus, .btn-success.focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn-success:not (:disabled ):not (.disabled ):active, .btn-success:not
	(:disabled ):not (.disabled ).active, .show>.btn-success.dropdown-toggle
	{
	color: #fff;
	background-color: #1e7e34;
	border-color: #1c7430;
}

.btn-success:not (:disabled ):not (.disabled ):active:focus,
	.btn-success:not (:disabled ):not (.disabled ).active:focus, .show>.btn-success.dropdown-toggle:focus
	{
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-info {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-info:hover {
	color: #fff;
	background-color: #138496;
	border-color: #117a8b;
}

.btn-info:focus, .btn-info.focus {
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-info:not (:disabled ):not (.disabled ):active, .btn-info:not (:disabled
	):not (.disabled ).active, .show>.btn-info.dropdown-toggle {
	color: #fff;
	background-color: #117a8b;
	border-color: #10707f;
}

.btn-info:not (:disabled ):not (.disabled ):active:focus, .btn-info:not
	(:disabled ):not (.disabled ).active:focus, .show>.btn-info.dropdown-toggle:focus
	{
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-warning {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-warning:hover {
	color: #212529;
	background-color: #e0a800;
	border-color: #d39e00;
}

.btn-warning:focus, .btn-warning.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-warning:not (:disabled ):not (.disabled ):active, .btn-warning:not
	(:disabled ):not (.disabled ).active, .show>.btn-warning.dropdown-toggle
	{
	color: #212529;
	background-color: #d39e00;
	border-color: #c69500;
}

.btn-warning:not (:disabled ):not (.disabled ):active:focus,
	.btn-warning:not (:disabled ):not (.disabled ).active:focus, .show>.btn-warning.dropdown-toggle:focus
	{
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-danger:hover {
	color: #fff;
	background-color: #c82333;
	border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-danger:not (:disabled ):not (.disabled ):active, .btn-danger:not (:disabled
	):not (.disabled ).active, .show>.btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #bd2130;
	border-color: #b21f2d;
}

.btn-danger:not (:disabled ):not (.disabled ):active:focus, .btn-danger:not
	(:disabled ):not (.disabled ).active:focus, .show>.btn-danger.dropdown-toggle:focus
	{
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-light {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-light:hover {
	color: #212529;
	background-color: #e2e6ea;
	border-color: #dae0e5;
}

.btn-light:focus, .btn-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-light.disabled, .btn-light:disabled {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-light:not (:disabled ):not (.disabled ):active, .btn-light:not (:disabled
	):not (.disabled ).active, .show>.btn-light.dropdown-toggle {
	color: #212529;
	background-color: #dae0e5;
	border-color: #d3d9df;
}

.btn-light:not (:disabled ):not (.disabled ):active:focus, .btn-light:not
	(:disabled ):not (.disabled ).active:focus, .show>.btn-light.dropdown-toggle:focus
	{
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-dark {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-dark:hover {
	color: #fff;
	background-color: #23272b;
	border-color: #1d2124;
}

.btn-dark:focus, .btn-dark.focus {
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn-dark:not (:disabled ):not (.disabled ):active, .btn-dark:not (:disabled
	):not (.disabled ).active, .show>.btn-dark.dropdown-toggle {
	color: #fff;
	background-color: #1d2124;
	border-color: #171a1d;
}

.btn-dark:not (:disabled ):not (.disabled ):active:focus, .btn-dark:not
	(:disabled ):not (.disabled ).active:focus, .show>.btn-dark.dropdown-toggle:focus
	{
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled],
	fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
	border-color: transparent;
}

.btn-link:hover, .btn-link:focus {
	color: #23527c;
	text-decoration: underline;
	background-color: transparent;
}

.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus,
	fieldset[disabled] .btn-link:focus {
	color: #777;
	text-decoration: none;
}

.pagination {
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;
}

.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #007bff;
	background-color: #fff;
	border: 1px solid #dee2e6;
}

.page-link:hover {
	z-index: 2;
	color: #0056b3;
	text-decoration: none;
	background-color: #e9ecef;
	border-color: #dee2e6;
}

.page-link:focus {
	z-index: 2;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-link:not (:disabled ):not (.disabled ) {
	cursor: pointer;
}

.page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #dee2e6;
}

.pagination-lg .page-link {
	padding: 0.75rem 1.5rem;
	font-size: 1.25rem;
	line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
}